<!-- 
/**
 * © Rolling Array https://rollingarray.co.in/
 *
 *
 * @summary Crud course material component template
 * @author code@rollingarray.co.in
 *
 * Created at     : 2022-07-04 19:38:45 
 * Last modified  : 2022-07-04 19:40:22
 */ 
-->

<!-- header -->
<ion-header [appScrollTracker]="scrollArea">
	<ion-toolbar color="primary">
		<ion-title>
			{{ pageTitle | translate }}
		</ion-title>
		<ion-buttons slot="end" *ngIf="!(modalLoadingIndicatorStatus$ | async)">
			<ion-button
				mode="ios"
				fill="outline"
				color="tertiary"
				(click)="closeModal()"
			>
				{{ "button.discard" | translate }}</ion-button
			>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<!-- header -->

<ion-content lines="none" color="primary" #scrollArea scrollEvents="true">
	<!-- page title -->
	<app-page-info-title
		[title]="pageTitle | translate"
		[info]="pageSubTitle | translate"
	></app-page-info-title>

	<!-- content loading -->
	<content-loading
		[formContent]="true"
		*ngIf="modalLoadingIndicatorStatus$ | async"
	></content-loading>
	<!-- content loading -->

	<!-- save btn -->
	<ion-fab
		slot="fixed"
		vertical="bottom"
		horizontal="end"
		*ngIf="!(modalLoadingIndicatorStatus$ | async)"
	>
		<ion-fab-button color="tertiary" (click)="submit()">
			<ion-icon [src]="stringKey.ICON_SAVE"></ion-icon>
		</ion-fab-button>
	</ion-fab>
	<!-- save btn -->

	<!-- form -->
	<form
		[formGroup]="formGroup"
		(ngSubmit)="submit()"
		color="primary"
		lines="none"
		*ngIf="!(modalLoadingIndicatorStatus$ | async)"
	>
		<ion-grid>
			<ion-row>
				<ion-col>
					<!-- course name -->
					<ion-card color="secondary">
						<ion-item color="secondary" lines="none">
							<ion-icon
								[src]="stringKey.ICON_FORM"
								slot="start"
							></ion-icon>
							<p>{{ "formInfo.courseName" | translate }}</p>
						</ion-item>
						<ion-card lines="none" color="light">
							<ion-item lines="none" color="light">
								<ion-input
									[disabled]="isOperationDelete"
									autocomplete="off"
									formControlName="courseMaterialName"
									type="text"
								>
								</ion-input>
							</ion-item>
							<ion-card
								*ngIf="
									courseMaterialName.invalid &&
									courseMaterialName.touched
								"
								color="warning"
							>
								<ion-item color="warning">
									<ion-icon
										color="danger"
										slot="start"
										[src]="stringKey.ICON_WARNING"
									></ion-icon>
									{{ "validation.required" | translate }}
								</ion-item>
							</ion-card>
						</ion-card>
					</ion-card>
					<!-- course name -->

					<!-- course core subject area -->
					<ion-card color="secondary" (click)="openCoreSubjectAreaSearchDropSelector()" class="cursor-pointer">
						<ion-item color="secondary" lines="none">
							<ion-icon
								[src]="stringKey.ICON_FORM"
								slot="start"
							></ion-icon>
							<p>{{ "formInfo.subjectAreaName" | translate }}</p>
						</ion-item>
						<ion-card lines="none" color="light">
							<ion-item lines="none" color="light">
								<ion-icon [src]="stringKey.ICON_FILTER" slot="end"></ion-icon>&nbsp;&nbsp;
								<ion-label>
									{{selectedSubjectArea.subjectAreaName}}
								</ion-label>
							</ion-item>
						</ion-card>
					</ion-card>
					<!-- course core subject area -->

					<!-- course description -->
					<ion-card color="secondary">
						<ion-item color="secondary" lines="none">
							<ion-icon
								[src]="stringKey.ICON_FORM"
								slot="start"
							></ion-icon>
							<p>
								{{ "formInfo.courseDescription" | translate }}
							</p>
						</ion-item>
						<ion-card lines="none" color="light">
							<ion-item lines="none" color="light">
								<ion-textarea
									[disabled]="isOperationDelete"
									debounce="1000"
									(ionChange)="extractKeyWords()"
									rows="6"
									cols="20"
									autocomplete="off"
									formControlName="courseMaterialDescription"
									type="text"
								>
								</ion-textarea>
							</ion-item>
							<ion-card
								*ngIf="
									courseMaterialDescription.invalid &&
									courseMaterialDescription.touched
								"
								color="warning"
							>
								<ion-item color="warning">
									<ion-icon
										color="danger"
										slot="start"
										[src]="stringKey.ICON_WARNING"
									></ion-icon>
									{{ "validation.required" | translate }}
								</ion-item>
							</ion-card>
							<!-- keyword -->
							<keyword [context]="keyWordContext"></keyword>
							<!-- keyword -->
						</ion-card>
					</ion-card>
					<!-- course description -->

					
				</ion-col>
			</ion-row>
		</ion-grid>
	</form>
	<!-- form -->
</ion-content>
<!-- body -->

<!-- drop selector back drop -->
<div
	#dropSelectorBackdrop
	class="drop-selector-backdrop"
	(click)="closeCoreSubjectAreaSearchDropSelector()"
></div>
<!-- drop selector back drop -->

<!-- drop selector -->
<div #dropSelector class="drop-selector">
	<!-- drop selector header -->
	<ion-header>
		<ion-toolbar color="secondary">
			<ion-title slot="start">
				{{ "pageTitle.addSubjectArea" | translate }}
			</ion-title>
			<ion-buttons slot="end">
				<ion-button
					color="tertiary"
					fill="outline"
					(click)="closeCoreSubjectAreaSearchDropSelector()"
					>{{ "button.close" | translate }}</ion-button
				>
			</ion-buttons>
		</ion-toolbar>
	</ion-header>
	<!-- drop selector header -->
	<search-core-subject-area
		(emitSearchResult)="addSearchResult($event)"
		#coreSubjectAreaSearchDropSelector
	></search-core-subject-area>
</div>
<!-- drop selector -->
