<!--
/**
 * © Rolling Array https://rollingarray.co.in/
 *
 *
 * @summary Assignment instructions component template
 * @author code@rollingarray.co.in
 *
 * Created at     : 2022-07-27 18:49:32 
 * Last modified  : 2022-10-14 10:02:19
 */
-->

<ion-card color="light">
	<ion-card-header class="padding-left-0-px padding-right-0-px">
		<panel-header
			panelTitle="{{ 'pageTitle.instructionSet' | translate }}"
			[panelIcon]="stringKey.ICON_INSTRUCTION"
			[panelColor]="stringKey.COLOR_LIGHT"
		></panel-header>
	</ion-card-header>

	<!-- instructions -->
	<!-- instructions quiz -->
	<ion-card-content
		*ngIf="courseMaterialTypeId === courseMaterialTypeIdEnum.QUIZ"
	>
		<ion-item
			color="light"
			*ngFor="let instructions of arrayKey.QUIZ_INSTRUCTIONS"
		>
			<ion-icon
				slot="start"
				[src]="stringKey.ICON_RIGHT_ARROW"
			></ion-icon>
			<p [innerHtml]="instructions | translate"></p>
		</ion-item>
	</ion-card-content>
	<!-- instructions quiz -->

	<!-- instructions td / ps -->
	<ion-card-content
		*ngIf="
			courseMaterialTypeId === courseMaterialTypeIdEnum.TD ||
			courseMaterialTypeId === courseMaterialTypeIdEnum.PS
		"
	>
		<ion-item
			color="light"
			*ngFor="let instructions of arrayKey.STUDY_INSTRUCTIONS"
		>
			<ion-icon
				slot="start"
				[src]="stringKey.ICON_RIGHT_ARROW"
			></ion-icon>
			<p [innerHtml]="instructions | translate"></p>
		</ion-item>
	</ion-card-content>
	<!-- instructions td / ps -->

	<!-- instructions fc -->
	<ion-card-content
		*ngIf="courseMaterialTypeId === courseMaterialTypeIdEnum.FC"
	>
		<ion-item
			color="light"
			*ngFor="let instructions of arrayKey.FLASH_CARD_INSTRUCTIONS"
		>
			<ion-icon
				slot="start"
				[src]="stringKey.ICON_RIGHT_ARROW"
			></ion-icon>
			<p [innerHtml]="instructions | translate"></p>
		</ion-item>
	</ion-card-content>
	<!-- instructions fc -->
	<!-- instructions -->
</ion-card>
