<!-- 
/**
 * © Rolling Array https://rollingarray.co.in/
 *
 *
 * @summary Knowledge base article component template
 * @author code@rollingarray.co.in
 *
 * Created at     : 2022-01-16 08:20:54 
 * Last modified  : 2022-07-06 17:46:26
 */
 -->

<ion-content>
	<!-- article title -->
	<div class="article-title" *ngIf="(selectedMenuArticle$ | async).articleId && articleTitle !== 'noData.contentDeleted'">
		<ion-item>
			<ion-thumbnail slot="start">
				<ion-icon [src]="getMenuIcon((selectedMenuArticle$ | async).courseMaterialType)"
					class="font-size-50-px">
				</ion-icon>
			</ion-thumbnail>
			{{ articleTitle }}
		</ion-item>
	</div>
	<!-- article title -->

	<!-- no data -->
	<ion-card class="card-no-shadow" *ngIf="articleTitle === 'noData.contentDeleted'">
		<p class="text-center">
			<ion-icon class="font-size-100-px" [src]="stringKey.ICON_NO_DATA" ></ion-icon>
		</p>
		<ion-text color="dark">
			<h4 class="text-center">
				<ion-icon [src]="stringKey.ICON_INFO"></ion-icon>
				{{ articleTitle | translate }}
			</h4>
		</ion-text>
		
	</ion-card>
	<!-- no data -->

	<div *ngIf="(selectedMenuArticle$ | async).articleId">
		<!-- crud-text-document -->
		<crud-text-document *ngIf="courseMaterialType === courseMaterialTypeIdEnum.TD"></crud-text-document>
		<!-- crud-text-document -->
	</div>

</ion-content>