<!-- 
/**
* © Rolling Array https://rollingarray.co.in/
*
*
* @summary Course material page template
* @author code@rollingarray.co.in
*
* Created at     : 2022-01-16 08:18:18 
 * Last modified  : 2022-09-07 19:43:57
*/	
 -->
<!-- header -->
<ion-header
	[appScrollTracker]="scrollArea">
	<ion-toolbar
		color="primary">
		<ion-title>
			{{pageTitle
			|
			translate}}
		</ion-title>
		<ion-buttons
			slot="start">
			<ion-menu-button>
			</ion-menu-button>
		</ion-buttons>
		<ion-buttons
			slot="end"
			(click)="getCourseMaterialMaterial()">
			<ion-icon
				slot="start"
				[src]="stringKey.ICON_REFRESH">
			</ion-icon>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<!-- header -->
<ion-content
	#scrollArea
	scrollEvents="true">
	<!-- page title -->
	<app-page-info-title
		[title]="pageTitle | translate"
		[info]="pageSubTitle | translate">
	</app-page-info-title>
	<!-- page title -->

	<!-- refresh btn -->
	<ion-refresher
		slot="fixed"
		(ionRefresh)="doRefresh($event)">
		<ion-refresher-content>
		</ion-refresher-content>
	</ion-refresher>
	<!-- refresh btn -->

	<!-- add btn -->
	<ion-fab
		*ngIf="isUserTypeTeacher"
		slot="fixed"
		vertical="bottom"
		horizontal="end"
		(click)="createNewCourseMaterial()">
		<ion-fab-button
			color="primary">
			<ion-icon
				[src]="stringKey.ICON_ADD">
			</ion-icon>
		</ion-fab-button>
	</ion-fab>
	<!-- add btn -->

	<!-- no data -->
	<app-no-data
		[courseMaterial]="true"
		*ngIf="!(hasData$ | async) && !(loadingIndicatorStatus$ | async)"
		[text]="errorMessage"
	></app-no-data>
	<!-- no data -->

	<!-- content loading -->
	<content-loading [gridContent]="true" ></content-loading>
	<!-- content loading -->

	<!-- data container -->
	<ng-container
		*ngIf="(hasData$ | async) && !(loadingIndicatorStatus$ | async)">
		<ion-grid>
			<ion-row>
				<ion-col
					size-xs="12"
					size-xl="4"
					size-lg="6"
					size-md="6"
					size-sm="6"
					*ngFor="let eachCourseMaterials of (courseMaterials$ | async)">
					<!-- each container -->
					<ion-card>
						<!-- course material layout -->
						<course-material-layout
							[courseMaterialId]="eachCourseMaterials.courseMaterialId"
						></course-material-layout>
						<!-- course material layout -->
						
						<!-- course material keywords -->
						<ion-card-content>
							<keyword
								[context]="eachCourseMaterials.courseMaterialDescription">
							</keyword>
						</ion-card-content>
						<!-- course material keywords -->

						<!-- operation tool -->
						<!-- <ion-toolbar> -->
						<div class="margin-10-px"
							*ngIf="isUserTypeTeacher">
							<edit-button
								(event)="onCourseMaterialAction(eachCourseMaterials, operationsEnum.EDIT)
                			"></edit-button>
							<delete-button
								(event)="onCourseMaterialAction(eachCourseMaterials, operationsEnum.DELETE)
                			"></delete-button>
							<view-button
								class="float-right"
								(event)="navigateToCourseMaterialDetails(eachCourseMaterials.courseMaterialId)
                			"></view-button>
						</div>

						<div class="margin-10-px float-right"
							*ngIf="isUserTypeStudent">
							<view-button
								*ngIf="eachCourseMaterials.addedToLearningPath"
								class="float-right"
								(event)="navigateToCourseMaterialDetails(eachCourseMaterials.courseMaterialId)
                			"></view-button>
							<common-button
								*ngIf="!eachCourseMaterials.addedToLearningPath"
								class="float-right"
								[color]="stringKey.COLOR_TERTIARY"
								[title] = "'button.learningPath' | translate"
								[icon] = "stringKey.ICON_ADD"
								(event) = "onLearningPathAction(eachCourseMaterials)
                			"></common-button>
						</div>

						<!-- </ion-toolbar> -->
						<!-- operation tool -->
					</ion-card>
					<!-- each container -->
				</ion-col>
			</ion-row>
		</ion-grid>
	</ng-container>
	<!-- data container -->
</ion-content>