<!-- 
/**
 * © Rolling Array https://rollingarray.co.in/
 *
 *
 * @summary Course material layout component template
 * @author code@rollingarray.co.in
 *
 * Created at     : 2022-08-07 07:14:33 
 * Last modified  : 2022-08-07 07:26:39
 */
-->

<div *ngIf="courseMaterial$ | async">
	<img [src]="stringKey.IMAGE_PANEL_HEADER" />
	<ion-card-header>
		<ion-card-title>
			<b>{{ (courseMaterial$ | async).courseMaterialName }}</b>
		</ion-card-title>
		<ion-card-subtitle>
			{{ (courseMaterial$ | async).authorFirstName }} {{ (courseMaterial$ | async).authorLastName }}
		</ion-card-subtitle>
	</ion-card-header>
	<ion-card-content>
		<ion-badge
			><ion-icon [src]="stringKey.ICON_SUBJECT"></ion-icon
		>
		{{ (courseMaterial$ | async).subjectAreaName }}
	</ion-badge><br>

		{{ (courseMaterial$ | async).courseMaterialDescription }}
	</ion-card-content>
</div>
