/**
 * © Rolling Array https://rollingarray.co.in/
 *
 *
 * @summary Crud course material component template style
 * @author code@rollingarray.co.in
 *
 * Created at     : 2022-07-04 19:38:45 
 * Last modified  : 2022-07-15 17:47:11
 */ 

.custom-field{
    padding: 10px;
}

.editable-content{
    margin: 20px;
}

ion-segment-button{
    padding: 10px;
}