<!-- 
/**
* © Rolling Array https://rollingarray.co.in/
*
* long description for the file
*
* @summary Course material page template
* @author code@rollingarray.co.in
*
* Created at     : 2022-01-16 08:18:18 
 * Last modified  : 2022-08-23 09:56:03
*/	
 -->
<!-- header -->

<!-- header -->
<ion-header>
	<ion-toolbar
		color="primary">
		<ion-title
			*ngIf="courseMaterial$ | async">
			{{(courseMaterial$
			|
			async).courseMaterialName}}
		</ion-title>
		<ion-buttons
			slot="start"
			*ngIf="(studyTimerStatus$ | async) === operationsEnum.END">
			<ion-back-button
				defaultHref="go/course/material">
			</ion-back-button>
		</ion-buttons>
		<ion-buttons
			slot="end"
			(click)="showMenu()"
			class="hidden-device-xxl hidden-device-xl hidden-device-lg hidden-device-md">
			<ion-icon
				slot="start"
				[src]="stringKey.ICON_MENU">
			</ion-icon>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<!-- header -->
<ion-content>
	<ion-grid
		class="stretch-grid-full">
		<ion-row
			class="stretch-grid-row-full">
			<!-- top match -->
			<ion-col
				[ngClass]="articleMenuClosed ? 'display-none' : 'display-block'"
				size-xl="4"
				size-lg="4"
				size-md="4"
				size-sm="12"
				size-xs="12">
				<ion-grid
					class="stretch-grid-full grid-right-border">
					<!-- mobile view-->

					<!-- mobile view-->

					<!-- desktop view-->

					<ion-row
						class="overflow-container article-menu">
						<!-- menu -->
						<ion-col
							text-center>

							<!-- course material layout -->
							<course-material-layout
								*ngIf="courseMaterial$ | async"
								[courseMaterialId]="(courseMaterial$ | async).courseMaterialId">
							</course-material-layout>
							<!-- course material layout -->

							<!-- parent menu -->
							<parent-menu>
							</parent-menu>
							<!-- parent menu -->
						</ion-col>
						<!-- menu -->
					</ion-row>
					<!-- desktop view-->
				</ion-grid>
			</ion-col>

			<!-- article -->
			<ion-col
				size-xl="8"
				size-lg="8"
				size-md="8"
				size-sm="12"
				size-xs="12">
				<ion-grid
					class="stretch-grid-full"
					color="dark">
					<ion-row
						class="overflow-container background-color-white">
						<ion-col
							text-center>
							<!-- dynamic article content -->
							<knowledge-base-article>
							</knowledge-base-article>
							<!-- dynamic article content -->
						</ion-col>
					</ion-row>
				</ion-grid>
			</ion-col>
			<!-- article -->
		</ion-row>
	</ion-grid>
</ion-content>