/**
 * © Rolling Array https://rollingarray.co.in/
 *
 *
 * @summary Course material details page template style
 * @author code@rollingarray.co.in
 *
 * Created at     : 2022-01-16 08:17:54 
 * Last modified  : 2022-09-22 16:59:42
 */

.article-menu{
    background-color: var(--ion-color-light) !important;
    border-right: 1px solid var(--ion-color-light) !important;
    border-bottom: 1px solid var(--ion-color-light) !important;
}