<!-- 
/**
 * © Rolling Array https://rollingarray.co.in/
 *
 *
 * @summary Course material article page template
 * @author code@rollingarray.co.in
 *
 * Created at     : 2021-11-15 21:34:14 
 * Last modified  : 2022-09-13 12:24:40
 */
 -->
<!-- header -->
<ion-content #articleView>
	<!-- article title / summery -->
	<div 
		#articleTitleView
		class="margin-top-20-px"
		*ngIf="
			(selectedMenuArticle$ | async).articleId &&
			articleTitle !== 'noData.contentDeleted'
		"
	>
		<!-- article title -->
		<panel-header [panelTitle]="articleTitle" [panelIcon]="getMenuIcon(
			(selectedMenuArticle$ | async).courseMaterialType
		)"></panel-header>
		<!-- article title -->

		<!-- article summery -->
		<panel-info [title]="articleSummery"></panel-info>
		
		<!-- article summery -->
	</div>
	<!-- article title / summery -->

	<!-- content change visibility -->
	<content-change-visibility></content-change-visibility>
	<!-- content change visibility -->

	<!-- show assignment properties for material owner even if not live -->
	<assignment-properties
		*ngIf="
			(isMaterialOwner &&
				(courseMaterialType === courseMaterialTypeIdEnum.QUIZ ||
			courseMaterialType === courseMaterialTypeIdEnum.DC ||
			courseMaterialType === courseMaterialTypeIdEnum.FC))
		"
		[articleCompletionTime]="articleCompletionTime"
		[articleCompletionReward]="articleCompletionReward"
	>
	</assignment-properties>
	<!-- show assignment properties for material owner even if not live -->

	<!-- show assignment properties for visitor if live -->
	<assignment-properties
		#assignmentPropertiesView
		*ngIf="
			(!isMaterialOwner &&
				isContentLive &&
				(courseMaterialType === courseMaterialTypeIdEnum.QUIZ ||
			courseMaterialType === courseMaterialTypeIdEnum.DC ||
			courseMaterialType === courseMaterialTypeIdEnum.FC))
		"
		[articleCompletionTime]="articleCompletionTime"
		[articleCompletionReward]="articleCompletionReward"
	>
	</assignment-properties>
	<!-- show assignment properties for visitor if live -->

	<div *ngIf="(selectedMenuArticle$ | async).articleId">
		<!-- crud-text-document -->
		<crud-text-document
			[articleTitleView]="articleTitleView"
			[articleView]="articleView"
			[isContentLive]="isContentLive"
			*ngIf="courseMaterialType === courseMaterialTypeIdEnum.TD"
		>
		</crud-text-document>
		<!-- crud-text-document -->

		<!-- crud-assignment-quiz -->
		<crud-assignment-quiz
			[assignmentPropertiesView]="assignmentPropertiesView"
			[articleTitleView]="articleTitleView"
			[articleView]="articleView"
			[articleCompletionReward]="articleCompletionReward"
			[isContentLive]="isContentLive"
			*ngIf="courseMaterialType === courseMaterialTypeIdEnum.QUIZ"
		>
		</crud-assignment-quiz>
		<!-- crud-assignment-quiz -->

		<!-- crud-flash-card -->
		<crud-flash-card
			[assignmentPropertiesView]="assignmentPropertiesView"
			[articleTitleView]="articleTitleView"
			[articleView]="articleView"
			[articleCompletionReward]="articleCompletionReward"
			[isContentLive]="isContentLive"
			*ngIf="courseMaterialType === courseMaterialTypeIdEnum.FC"
		>
		</crud-flash-card>
		<!-- crud-flash-card -->
	</div>
</ion-content>
