<!--
/**
 * © Rolling Array https://rollingarray.co.in/
 *
 *
 * @summary Html content toolbar component template
 * @author code@rollingarray.co.in
 *
 * Created at     : 2022-07-13 11:33:29 
 * Last modified  : 2022-10-10 20:26:09
 */
-->

<ion-segment scrollable="true" mode="ios" [ngModel]="selectedCommand">
	<ion-segment-button
		checked="false" 
		*ngFor="let command of commands"
		[value]="command.command"
		(mousedown)="$event.preventDefault()"
		(click)="executeCommand(command)"
	>
		<ion-icon [src]="command.icon"></ion-icon>
	</ion-segment-button>
</ion-segment>
