<!-- 
/**
 * © Rolling Array https://rollingarray.co.in/
 *
 *
 * @summary Child menu component template
 * @author code@rollingarray.co.in
 *
 * Created at     : 2022-07-04 19:47:28 
 * Last modified  : 2022-07-05 19:45:25
 */ 
-->

<ion-card class="cursor-pointer" *ngFor="let eachMenu of (childMenu$ | async)">
	<!-- menu title -->
	<ion-item lines="none" (click)="navigateToCourseMaterialArticle(eachMenu)">
		<ion-icon color="primary" [src]="getMenuIcon(eachMenu)" slot="start"></ion-icon>
		<ion-label class="font-size-17-px">
			{{ eachMenu.articleTitle }}
		</ion-label>
	</ion-item>
	<!-- menu title -->

	<!-- menu toolbar -->
	<ion-toolbar>
		<ion-buttons slot="end">
			<ion-button color="primary" (click)="editChildMenu(eachMenu)" *ngIf="isMaterialOwner">
				<ion-icon [src]="stringKey.ICON_EDIT"></ion-icon>
			</ion-button>
			<ion-button color="primary" (click)="deleteChildMenu(eachMenu)" *ngIf="isMaterialOwner">
				<ion-icon [src]="stringKey.ICON_DELETE"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
	<!-- menu toolbar -->

	<!-- sub child menus -->
	<sub-child-menu [childArticleId]="eachMenu.childArticleId" [courseMaterialId]="courseMaterialId"></sub-child-menu>
	<!-- sub child menus -->
</ion-card>

<!-- add new menu -->
<ion-button class="card-button" mode="ios" (click)="addNewChild()" expand="block" *ngIf="isMaterialOwner">
	<ion-icon [src]="stringKey.ICON_ADD" slot="start"></ion-icon>
	{{'button.addChildMenu' | translate}}
</ion-button>
<!-- add new menu -->