<!-- 
/**
 * © Rolling Array https://rollingarray.co.in/
 *
 * @summary Subject area strength analysis component template 
 * @author code@rollingarray.co.in
 *
 * Created at     : 2022-09-27 21:39:22 
 * Last modified  : 2022-10-14 10:04:10
 */
 -->

<ion-card>
	<ion-card-header class="padding-left-0-px padding-right-0-px">
		<panel-header
			[panelTitle]="'pageTitle.subjectAreaAnalysis' | translate"
			[panelIcon]="stringKey.ICON_ANALYSIS"
		></panel-header>
		<panel-info
			[showMoreLess]="true"
			[title]="'pageSubTitle.subjectAreaAnalysis' | translate"
			[panelColor]="stringKey.COLOR_WHITE"
		></panel-info>
	</ion-card-header>
	<div *ngFor="let eachSubject of coreSubjectAreaAnalysis">
		<panel-header
			panelColor="light"
			[panelTitle]="eachSubject.subjectAreaName"
			[panelIcon]="stringKey.ICON_SUBJECT"
		></panel-header>
		<subject-area-analysis-segment
			[modalLayout]="false"
			[coreSubjectAreaTags]="eachSubject.subjectAreasTags"
		></subject-area-analysis-segment>
	</div>
</ion-card>
