<!--
/**
 * © Rolling Array https://rollingarray.co.in/
 *
 *
 * @summary Crud text document component template
 * @author code@rollingarray.co.in
 *
 * Created at     : 2022-01-16 08:20:54 
 * Last modified  : 2022-09-22 19:40:28
 */
-->
<!-- article owner toolbar -->

<!-- content loading -->
<content-loading
	[generalContent]="true"
	*ngIf="loadingIndicatorStatus$ | async"
></content-loading>
<!-- content loading -->

<div
	*ngIf="
		(this.courseMaterial$ | async) &&
		isMaterialOwner &&
		!(loadingIndicatorStatus$ | async)
	"
>
	<!-- fab -->
	<ion-fab
		slot="fixed"
		vertical="top"
		horizontal="end"
		*ngIf="!isContentLive"
	>
		<ion-fab-button
			*ngIf="(articleTextDocument$ | async) === undefined && !showSave"
			color="tertiary"
			(click)="addNewContent()"
		>
			<ion-icon [src]="stringKey.ICON_ADD"></ion-icon>
		</ion-fab-button>
		<ion-fab-button
			*ngIf="(articleTextDocument$ | async) !== undefined && !showSave"
			color="tertiary"
			(click)="editContent()"
		>
			<ion-icon [src]="stringKey.ICON_EDIT"></ion-icon>
		</ion-fab-button>
		<ion-fab-button *ngIf="showSave" color="tertiary" (click)="submit()">
			<ion-icon [src]="stringKey.ICON_SAVE"></ion-icon>
		</ion-fab-button>
	</ion-fab>
	<!-- fab -->

	<!-- toolbar -->
	<ion-card *ngIf="showSave">
		<html-content-toolbar></html-content-toolbar>
	</ion-card>
	<!-- toolbar -->

	<!-- no data -->
	<ion-card
		class="card-no-shadow"
		*ngIf="(articleTextDocument$ | async) === undefined && !showSave"
	>
		<p class="text-center">
			<ion-icon
				class="font-size-100-px"
				[src]="stringKey.ICON_NO_DATA"
			></ion-icon>
		</p>
		<ion-text color="dark">
			<h4 class="text-center">
				<ion-icon [src]="stringKey.ICON_INFO"></ion-icon>
				{{ "noData.noContent" | translate }}
			</h4>
		</ion-text>
	</ion-card>
	<!-- no data -->
</div>
<!-- article owner toolbar -->

<div #contentTopScrollView *ngIf="!(loadingIndicatorStatus$ | async)">
	<!-- study instructions -->
	<assignment-instructions
		*ngIf="
			(this.courseMaterial$ | async) && !isMaterialOwner && isContentLive
		"
		[isMaterialOwner]="isMaterialOwner"
		[courseMaterialTypeId]="courseMaterialTypeIdEnum.TD"
	>
	</assignment-instructions>
	<!-- study instructions -->

	<!-- article-session -->
	<article-session
		#scroll
		*ngIf="
			(this.courseMaterial$ | async) && !isMaterialOwner && isContentLive && (selectedMenuArticle$ | async)
		"
		[articleId] = "(selectedMenuArticle$ | async).articleId"
		[isMaterialOwner]="isMaterialOwner"
		[isContentLive]="isContentLive"
		[courseMaterialTypeId]="courseMaterialTypeIdEnum.TD"
	></article-session>
	<!-- article-session -->
</div>

<!-- content -->
<div class="para" #editableTextDocument></div>
<!-- content -->

<!-- content not live message -->
<app-no-data
	[courseMaterial]="true"
	*ngIf="
		(this.courseMaterial$ | async) &&
		!isMaterialOwner &&
		!isContentLive &&
		!(loadingIndicatorStatus$ | async)
	"
	[text]="'noData.availableSoonContent' | translate"
>
</app-no-data>
<!-- content not live message -->

<!-- empty height to get full screen view above timer -->
<div class="height-80-px"></div>
<!-- empty height to get full screen view above timer -->

<!-- start stop timer -->
<start-stop-timer
	*ngIf="(this.courseMaterial$ | async) && !isMaterialOwner && isContentLive"
	[isMaterialOwner]="isMaterialOwner"
	[isContentLive]="isContentLive"
	(startAssignmentEvent)="startStudySession()"
	(submitAssignmentEvent)="submitStudySession($event)"
>
</start-stop-timer>
<!-- start stop timer -->
