<!-- 
/**
 * © Rolling Array https://rollingarray.co.in/
 *
 * @summary Panel info component template
 * @author code@rollingarray.co.in
 *
 * Created at     : 2022-09-13 09:45:15 
 * Last modified  : 2022-09-13 10:00:38
 */
 -->
 
<ion-item [color]="panelColor" lines="none">
	<ion-icon
		slot="start"
		*ngIf="panelIcon !== 'spinner'"
		[src]="!panelIcon ? stringKey.ICON_INFO : panelIcon"
	></ion-icon>
	<ion-spinner color="light" *ngIf="panelIcon === 'spinner'"></ion-spinner>
	<p [innerHTML]="title"></p>
</ion-item>
