<!-- 
/**
 * © Rolling Array https://rollingarray.co.in/
 *
 *
 * @summary Parent Menu component template
 * @author code@rollingarray.co.in
 *
 * Created at     : 2022-07-04 20:00:41 
 * Last modified  : 2022-09-07 16:35:05
 */
 -->

<!-- content loading -->
<content-loading
	[menuContent]="true"
	*ngIf="loadingIndicatorStatus$ | async"
></content-loading>
<!-- content loading -->

<!-- content title -->
<ion-item *ngIf="!(loadingIndicatorStatus$ | async)" color="none">
	<b>{{ "formInfo.materialContent" | translate }}</b>
</ion-item>
<!-- content title -->

<!-- menu -->
<div *ngIf="!(loadingIndicatorStatus$ | async)">
	<ion-card
		class="cursor-pointer"
		*ngFor="let eachMenu of parentMenuMenu$ | async"
	>
		<!-- article title -->
		<ion-item
			[color]="
				(selectedMenuArticle$ | async).articleId ===
				eachMenu.parentArticleId
					? 'tertiary'
					: ''
			"
			lines="none"
			(click)="navigateToCourseMaterialArticle(eachMenu)"
		>
			<ion-icon
				color="primary"
				[src]="getMenuIcon(eachMenu)"
				slot="start"
			>
			</ion-icon>
			<ion-label class="font-size-17-px">
				{{ eachMenu.articleTitle }}
			</ion-label>
		</ion-item>
		<!-- article title -->

		<!-- article summery -->
		<ion-card-content *ngIf="showSummery">
			{{ eachMenu.articleSummery }}
		</ion-card-content>
		<!-- article summery -->

		<!-- toolbar -->
		<ion-toolbar
			*ngIf="(loggedInUserId$ | async) === (courseMaterialOwner$ | async)"
			mode="ios"
		>
			<ion-buttons slot="end">
				<edit-button
					(click)="onParentMenuAction(eachMenu, operationsEnum.EDIT)"
					*ngIf="
						(loggedInUserId$ | async) ===
						(courseMaterialOwner$ | async)
					"
				></edit-button>
				<delete-button
					(click)="onParentMenuAction(eachMenu, operationsEnum.DELETE)"
					*ngIf="
						(loggedInUserId$ | async) ===
						(courseMaterialOwner$ | async)
					"
				>
				</delete-button>
			</ion-buttons>
		</ion-toolbar>
		<!-- toolbar -->

		<!-- all child menu -->
		<child-menu
			[showSummery]="showSummery"
			[parentArticleId]="eachMenu.parentArticleId"
			[courseMaterialId]="courseMaterialId"
		>
		</child-menu>
		<!-- all child menu -->
	</ion-card>
	<!-- menu -->

	<!-- add new menu -->
	<common-button
		(event)="addNewParentMenu()"
		expand="block"
		[title]="'button.addMenu' | translate"
		[color]="stringKey.COLOR_TERTIARY"
		[icon]="stringKey.ICON_ADD"
		*ngIf="(loggedInUserId$ | async) === (courseMaterialOwner$ | async)"
	>
	</common-button>
	<!-- add new menu -->
</div>
