<!-- 
/**
 * © Rolling Array https://rollingarray.co.in/
 *
 *
 * @summary Parent Menu component template
 * @author code@rollingarray.co.in
 *
 * Created at     : 2022-07-04 20:00:41 
 * Last modified  : 2022-07-05 19:47:40
 */
 -->
<ion-card class="cursor-pointer" *ngFor="let eachMenu of (parentMenuMenu$ | async)" >
	<!-- article title -->
	<ion-item lines="none" (click)="navigateToCourseMaterialArticle(eachMenu)">
		<ion-icon color="primary" [src]="getMenuIcon(eachMenu)" slot="start"></ion-icon>
		<ion-label class="font-size-17-px">
			{{ eachMenu.articleTitle }}
		</ion-label>
	</ion-item>
	<!-- article title -->

	<!-- toolbar -->
	<ion-toolbar>
		<ion-buttons slot="end">
			<ion-button color="primary" (click)="editParentMenu(eachMenu)" *ngIf="(loggedInUserId$ | async) === (courseMaterialOwner$ | async)">
				<ion-icon [src]="stringKey.ICON_EDIT"></ion-icon>
			</ion-button>
			<ion-button color="primary" (click)="deleteParentMenu(eachMenu)" *ngIf="(loggedInUserId$ | async) === (courseMaterialOwner$ | async)">
				<ion-icon [src]="stringKey.ICON_DELETE"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
	<!-- toolbar -->
	
	<!-- all child menu -->
	<child-menu [parentArticleId]="eachMenu.parentArticleId" [courseMaterialId]="courseMaterialId"></child-menu>
	<!-- all child menu -->
</ion-card>

<!-- add new menu -->
<ion-button class="card-button" mode="ios" (click)="addNewParentMenu()" expand="block" *ngIf="(loggedInUserId$ | async) === (courseMaterialOwner$ | async)">
	<ion-icon [src]="stringKey.ICON_ADD" slot="start"></ion-icon>
	{{'button.addMenu' | translate}}
</ion-button>
<!-- add new menu -->
