<!--
/**
 * © Rolling Array https://rollingarray.co.in/
 *
 *
 * @summary Crud assignment quiz component template
 * @author code@rollingarray.co.in
 *
 * Created at     : 2022-07-13 11:11:44 
 * Last modified  : 2022-09-22 19:45:29
 */
-->

<!-- content loading -->
<content-loading [generalContent]="true" *ngIf="(loadingIndicatorStatus$ | async)" ></content-loading>
<!-- content loading -->

<!-- article owner toolbar -->
<div *ngIf="(this.courseMaterial$ | async) && !(loadingIndicatorStatus$ | async)">
	<!-- add new question -->
	<ion-fab slot="fixed" vertical="top" horizontal="end" *ngIf="isMaterialOwner && !isContentLive">
		<ion-fab-button color="tertiary" (click)="addNewQuestion()">
			<ion-icon [src]="stringKey.ICON_ADD"></ion-icon>
		</ion-fab-button>
	</ion-fab>
	<!-- add new question -->

	<!-- no content for material owner -->
	<app-no-data 
		[courseMaterial]="true" 
		*ngIf="!(hasData$ | async) && isMaterialOwner" 
		[text]="'noData.noQuestion' | translate"
	>
	</app-no-data>
	<!-- no content for material owner -->

	<!-- content not live message for visitor -->
	<app-no-data 
		[courseMaterial]="true" 
		*ngIf="(this.courseMaterial$ | async) && !isMaterialOwner && !isContentLive" 
		[text]="'noData.availableSoonContent' | translate"
	>
	</app-no-data>
	<!-- content not live message for visitor -->
	
	<div #contentTopScrollView>
		<!-- assignment instructions -->
		<assignment-instructions
			*ngIf="(hasData$ | async) && !isMaterialOwner && isContentLive"
			[isMaterialOwner]= "isMaterialOwner"
			[courseMaterialTypeId]="courseMaterialTypeIdEnum.QUIZ"			
		>
		</assignment-instructions>
		<!-- assignment instructions -->
	
		<!-- article-session -->
		<article-session
			#scroll 
			*ngIf="(this.courseMaterial$ | async) && !isMaterialOwner && isContentLive"
			[isMaterialOwner]= "isMaterialOwner"
			[isContentLive]= "isContentLive"
			[courseMaterialTypeId]="courseMaterialTypeIdEnum.QUIZ"
			(sessionAvailableEmitter)="sessionAvailable($event)"
		></article-session>
		<!-- article-session -->
	</div>

	

	<!-- data container for material owner -->
	<ion-grid *ngIf="(hasData$ | async) && isMaterialOwner">
		<ion-row>
			<ion-col size="12" *ngFor="let eachQuiz of courseMaterialQuiz$ | async">
				<!-- each question -->
				<ion-card>
					<ion-card-header>
						<ion-card-title [innerHtml]="eachQuiz.question"></ion-card-title>
					</ion-card-header>

					<!-- answers -->
					<ion-card-content *ngIf="isMaterialOwner">
						<ion-item *ngFor="let option of eachQuiz.options">
							<ion-icon [src]="stringKey.ICON_RIGHT_ARROW" *ngIf="!option.isCorrect" slot="start">
							</ion-icon>
							<ion-icon [src]="stringKey.ICON_CHECK" *ngIf="option.isCorrect" slot="start"></ion-icon>
							<p [innerHtml]="option.answer"></p>
						</ion-item>
					</ion-card-content>
					<!-- answers -->

					<!-- question toolbar -->
					<ion-toolbar *ngIf="isMaterialOwner && !isContentLive" mode="ios">
						<ion-buttons slot="start">
							<edit-button (event)="
                  onCourseMaterialQuizAction(eachQuiz, operationsEnum.EDIT)
                "></edit-button>
							<copy-button (event)="onCourseMaterialQuizCopyAction(eachQuiz)">
							</copy-button>
						</ion-buttons>
						<ion-buttons slot="end">
							<delete-button (event)="
                  onCourseMaterialQuizAction(eachQuiz, operationsEnum.DELETE)
                "></delete-button>
						</ion-buttons>
					</ion-toolbar>
					<!-- question toolbar -->
				</ion-card>
				<!-- each question -->
			</ion-col>
		</ion-row>
	</ion-grid>
	<!-- data container for material owner -->

	<!-- data container for material visiter -->
	<ion-grid *ngIf="(hasData$ | async) && !isMaterialOwner && isContentLive && assignmentSessionInitiated">
		<ion-row>
			<ion-col size="12" *ngFor="let eachQuiz of courseMaterialQuiz">
				<!-- each question -->
				<ion-card>
					<ion-card-header>
						<ion-item lines="none">
							<ion-icon *ngIf="submittedAnswer" [src]="
                  eachQuiz.isCorrectAnswerMapped
                    ? stringKey.ICON_CHECK
                    : stringKey.ICON_CANCEL
                " [color]="eachQuiz.isCorrectAnswerMapped ? 'success' : 'danger'" slot="start"></ion-icon>
							<ion-card-title [innerHtml]="eachQuiz.question"></ion-card-title>
						</ion-item>
					</ion-card-header>
					<!-- answers -->
					<ion-card-content>
						<ion-item *ngFor="let option of eachQuiz.options">
							<ion-checkbox [(ngModel)]="option.isChecked" mode="ios" slot="start"></ion-checkbox>
							<p [innerHtml]="option.answer"></p>
						</ion-item>
					</ion-card-content>
					<!-- answers -->
				</ion-card>
				<!-- each question -->
			</ion-col>
		</ion-row>
	</ion-grid>
	<!-- data container for material visiter -->
</div>

<!-- empty height to get full screen view above timer -->
<div class="height-80-px"></div>
<!-- empty height to get full screen view above timer -->

<!-- start stop timer -->
<start-stop-timer
	*ngIf="(this.courseMaterial$ | async) && !isMaterialOwner && isContentLive && ifSessionAvailable"
	[isMaterialOwner]="isMaterialOwner"
	[isContentLive]="isContentLive"
	(startAssignmentEvent)="startQuiz()"
	(submitAssignmentEvent) = "submitAnswers($event)"
>
</start-stop-timer>
<!-- start stop timer -->