<!--
/**
 * © Rolling Array https://rollingarray.co.in/
 *
 *
 * @summary Crud assignment quiz component template
 * @author code@rollingarray.co.in
 *
 * Created at     : 2022-07-13 11:11:44 
 * Last modified  : 2022-07-20 09:21:55
 */
-->
<!-- article owner toolbar -->
<div *ngIf="this.courseMaterial$ | async">
	<!-- add new question -->
	<ion-fab slot="fixed" vertical="top" horizontal="end" *ngIf="isMaterialOwner && !isContentLive">
		<ion-fab-button color="tertiary" (click)="addNewQuestion()">
			<ion-icon [src]="stringKey.ICON_ADD"></ion-icon>
		</ion-fab-button>
	</ion-fab>
	<!-- add new question -->

	<!-- submit answer -->
	<ion-fab slot="fixed" vertical="top" horizontal="end" *ngIf="!isMaterialOwner && isContentLive">
		<ion-fab-button color="tertiary" (click)="submitAnswers()">
			<ion-icon [src]="stringKey.ICON_SUBMIT"></ion-icon>
		</ion-fab-button>
	</ion-fab>
	<!-- submit answer -->

	<!-- no data -->
	<app-no-data [courseMaterial]="true" *ngIf="!(hasData$ | async)" [text]="'noData.noQuestion' | translate">
	</app-no-data>
	<!-- no data -->

	<!-- content not live message -->
	<ion-card class="card-no-shadow" *ngIf="(this.courseMaterial$ | async) && !isMaterialOwner && !isContentLive">
		<p class="text-center">
			<ion-icon class="font-size-100-px" [src]="stringKey.ICON_NO_DATA"></ion-icon>
		</p>
		<ion-text color="dark">
			<h4 class="text-center">
				<ion-icon [src]="stringKey.ICON_INFO"></ion-icon>
				{{ "noData.availableSoonContent" | translate }}
			</h4>
		</ion-text>
	</ion-card>
	<!-- content not live message -->

	<!-- data container for material owner -->
	<ion-grid *ngIf="(hasData$ | async) && isMaterialOwner">
		<ion-row>
			<ion-col size="12" *ngFor="let eachQuiz of courseMaterialQuiz$ | async">
				<!-- each container -->

				<!-- each question -->
				<ion-card>
					<ion-card-header>
						<ion-card-title [innerHtml]="eachQuiz.question"></ion-card-title>
					</ion-card-header>

					<!-- answers -->
					<ion-card-content *ngIf="isMaterialOwner">
						<ion-item *ngFor="let option of eachQuiz.options">
							<ion-icon [src]="stringKey.ICON_RIGHT_ARROW" *ngIf="!option.isCorrect" slot="start">
							</ion-icon>
							<ion-icon [src]="stringKey.ICON_CHECK" *ngIf="option.isCorrect" slot="start"></ion-icon>
							<p [innerHtml]="option.answer"></p>
						</ion-item>
					</ion-card-content>
					<!-- answers -->

					<!-- question toolbar -->
					<ion-toolbar *ngIf="isMaterialOwner && !isContentLive" mode="ios">
						<ion-buttons slot="start">
							<edit-button (event)="
                  onCourseMaterialQuizAction(eachQuiz, operationsEnum.EDIT)
                "></edit-button>
							<copy-button (event)="onCourseMaterialQuizCopyAction(eachQuiz)">
							</copy-button>
						</ion-buttons>
						<ion-buttons slot="end">
							<delete-button (event)="
                  onCourseMaterialQuizAction(eachQuiz, operationsEnum.DELETE)
                "></delete-button>
						</ion-buttons>
					</ion-toolbar>
					<!-- question toolbar -->
				</ion-card>
				<!-- each question -->
			</ion-col>
		</ion-row>
	</ion-grid>
	<!-- data container for material owner -->

	<!-- score -->
	<ion-card *ngIf="!isMaterialOwner && isContentLive && submittedAnswer">
		{{ totalScore }} / {{ courseMaterialQuiz.length }}
	</ion-card>
	<!-- score -->

	<!-- data container for material visiter -->
	<ion-grid *ngIf="(hasData$ | async) && !isMaterialOwner && isContentLive">
		<ion-row>
			<ion-col size="12" *ngFor="let eachQuiz of courseMaterialQuiz">
				<!-- each question -->
				<ion-card>
					<ion-card-header>
						<ion-item lines="none">
							<ion-icon *ngIf="submittedAnswer" [src]="
                  eachQuiz.isCorrectAnswerMapped
                    ? stringKey.ICON_CHECK
                    : stringKey.ICON_CANCEL
                " [color]="eachQuiz.isCorrectAnswerMapped ? 'success' : 'danger'" slot="start"></ion-icon>
							<ion-card-title [innerHtml]="eachQuiz.question"></ion-card-title>
						</ion-item>
					</ion-card-header>
					<!-- answers -->
					<ion-card-content>
						<ion-item *ngFor="let option of eachQuiz.options">
							<ion-checkbox [(ngModel)]="option.isChecked" mode="ios" slot="start"></ion-checkbox>
							<p [innerHtml]="option.answer"></p>
						</ion-item>
					</ion-card-content>
					<!-- answers -->
				</ion-card>
				<!-- each question -->
			</ion-col>
		</ion-row>
	</ion-grid>
	<!-- data container for material visiter -->
</div>