/**
 * © Rolling Array https://rollingarray.co.in/
 *
 * long description for the file
 *
 * @summary Course material assignment leader board component template template
 * @author code@rollingarray.co.in
 *
 * Created at     : 2022-08-02 08:58:52 
 * Last modified  : 2022-08-04 19:23:21
 */

 ion-avatar{
    background-color: var(--ion-color-primary);
    img{
        background-color: var(--ion-color-light);   
    }
 }

 ion-badge{
    position: absolute;
    margin-top: -228px;
 }