/**
 * © Rolling Array https://rollingarray.co.in/
 *
 * @summary Crud availability planner component template style
 * @author code@rollingarray.co.in
 *
 * Created at     : 2022-09-22 19:59:56 
 * Last modified  : 2022-09-22 20:01:11
 */

.custom-field{
    padding: 10px;
}

ion-datetime{
    margin: 0 auto;
}

.keyword{
    border-radius: 10px;
}