/**
 * © Rolling Array https://rollingarray.co.in/
 *
 * @summary User profile component template style
 * @author code@rollingarray.co.in
 *
 * Created at     : 2022-09-20 08:43:51 
 * Last modified  : 2022-09-20 08:45:04
 */

.avatar {
    font-size: 9em;
    margin: 10px;
    cursor: pointer;
}