<!-- 
/**
 * © Rolling Array https://rollingarray.co.in/
 *
 * long description for the file
 *
 * @summary Sub child menu component template
 * @author code@rollingarray.co.in
 *
 * Created at     : 2022-07-04 20:05:19 
 * Last modified  : 2022-07-19 12:58:07
 */ 
-->


<ion-card class="cursor-pointer" *ngFor="let eachMenu of (subChildMenu$ | async)">
	<!-- article title -->
	<ion-item lines="none" (click)="navigateToCourseMaterialArticle(eachMenu)">
		<ion-icon color="primary" [src]="getMenuIcon(eachMenu)" slot="start"></ion-icon>
		<ion-label class="font-size-17-px">
			{{ eachMenu.articleTitle }}
		</ion-label>
	</ion-item>
	<!-- article title -->

	<!-- menu toolbar -->
	<ion-toolbar *ngIf="isMaterialOwner"  mode="ios">
		<ion-buttons slot="end">
			<ion-button color="primary" (click)="editSubChildMenu(eachMenu)" *ngIf="isMaterialOwner">
				<ion-icon [src]="stringKey.ICON_EDIT"></ion-icon>
			</ion-button>
			<ion-button color="primary" (click)="deleteSubChildMenu(eachMenu)" *ngIf="isMaterialOwner">
				<ion-icon [src]="stringKey.ICON_DELETE"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
	<!-- menu toolbar -->
</ion-card>

<!-- add new sub child -->
<ion-button class="card-button" mode="ios" (click)="addNewSubChild()" expand="block" *ngIf="isMaterialOwner">
	<ion-icon [src]="stringKey.ICON_ADD" slot="start"></ion-icon>
	{{'button.addSubChildMenu' | translate}}
</ion-button>
<!-- add new sub child -->