<!-- 
/**
 * © Rolling Array https://rollingarray.co.in/
 *
 *
 * @summary Content loading component template
 * @author code@rollingarray.co.in
 *
 * Created at     : 2022-09-07 11:51:57 
 * Last modified  : 2022-09-07 13:55:15
 */
 -->

<!-- generalContent -->
<ng-container *ngIf="generalContent">
	<ion-grid *ngFor="let eachLoop of [1, 2, 3]" class="margin-top-20-px">
		<ion-row>
			<ion-col class="fixed-size">
				<div
					class="height-80-px width-80-px border-radius-10-px margin-10-px"
				></div>
			</ion-col>
			<ion-col>
				<ion-grid>
					<ion-row>
						<ion-col>
							<ion-grid>
								<ion-row>
									<ion-col size="6">
										<div
											class="height-10-px border-radius-10-px margin-10-px"
										></div>
									</ion-col>
								</ion-row>
							</ion-grid>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col>
							<ion-grid>
								<ion-row>
									<ion-col size="4">
										<div
											class="height-10-px border-radius-10-px margin-10-px"
										></div>
									</ion-col>
								</ion-row>
							</ion-grid>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col
							><ion-grid>
								<ion-row>
									<ion-col size="12">
										<div
											class="height-10-px border-radius-10-px margin-10-px"
										></div>
									</ion-col>
								</ion-row>
							</ion-grid>
						</ion-col>
					</ion-row>
				</ion-grid>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<ion-grid>
					<ion-row>
						<ion-col>
							<ion-grid>
								<ion-row>
									<ion-col size="6">
										<div
											class="height-10-px border-radius-10-px margin-10-px"
										></div>
									</ion-col>
								</ion-row>
							</ion-grid>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col>
							<ion-grid>
								<ion-row>
									<ion-col size="12">
										<div
											class="height-10-px border-radius-10-px margin-10-px"
										></div>
									</ion-col>
								</ion-row>
							</ion-grid>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col
							><ion-grid>
								<ion-row>
									<ion-col size="12">
										<div
											class="height-10-px border-radius-10-px margin-10-px"
										></div>
									</ion-col>
								</ion-row>
							</ion-grid>
						</ion-col>
					</ion-row>
				</ion-grid>
			</ion-col>
			<ion-col>
				<ion-grid>
					<ion-row>
						<ion-col>
							<ion-grid>
								<ion-row>
									<ion-col size="12">
										<div
											class="height-10-px border-radius-10-px margin-10-px"
										></div>
									</ion-col>
								</ion-row>
							</ion-grid>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col>
							<ion-grid>
								<ion-row>
									<ion-col size="4">
										<div
											class="height-10-px border-radius-10-px margin-10-px"
										></div>
									</ion-col>
								</ion-row>
							</ion-grid>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col
							><ion-grid>
								<ion-row>
									<ion-col size="12">
										<div
											class="height-10-px border-radius-10-px margin-10-px"
										></div>
									</ion-col>
								</ion-row>
							</ion-grid>
						</ion-col>
					</ion-row>
				</ion-grid>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<ion-grid>
					<ion-row>
						<ion-col
							><div
								class="height-10-px border-radius-10-px margin-10-px"
							></div>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col
							><div
								class="height-10-px border-radius-10-px margin-10-px"
							></div>
						</ion-col>
					</ion-row>
				</ion-grid>
			</ion-col>
			<ion-col class="fixed-size">
				<div
					class="height-30-px width-30-px border-radius-30-px margin-10-px"
				></div>
			</ion-col>
		</ion-row>
	</ion-grid>
</ng-container>
<!-- generalContent -->

<!-- gridContent -->
<ng-container *ngIf="gridContent">
	<ion-grid>
		<ion-row>
			<ion-col
				size-lg="6"
				size-md="6"
				size-sm="12"
				size-xl="6"
				size-xs="12"
				*ngFor="let eachLoop of [1, 2, 3, 4, 5, 6]"
			>
				<ion-grid class="margin-top-50-px margin-bottom-50-px">
					<ion-row>
						<ion-col class="fixed-size">
							<div
								class="height-80-px width-80-px border-radius-10-px margin-10-px"
							></div>
						</ion-col>
						<ion-col>
							<ion-grid>
								<ion-row>
									<ion-col>
										<ion-grid>
											<ion-row>
												<ion-col size="6">
													<div
														class="height-10-px border-radius-10-px margin-10-px"
													></div>
												</ion-col>
											</ion-row>
										</ion-grid>
									</ion-col>
								</ion-row>
								<ion-row>
									<ion-col>
										<ion-grid>
											<ion-row>
												<ion-col size="4">
													<div
														class="height-10-px border-radius-10-px margin-10-px"
													></div>
												</ion-col>
											</ion-row>
										</ion-grid>
									</ion-col>
								</ion-row>
								<ion-row>
									<ion-col
										><ion-grid>
											<ion-row>
												<ion-col size="12">
													<div
														class="height-10-px border-radius-10-px margin-10-px"
													></div>
												</ion-col>
											</ion-row>
										</ion-grid>
									</ion-col>
								</ion-row>
							</ion-grid>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col size="12">
							<div
								class="height-10-px border-radius-10-px margin-10-px"
							></div>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col size="12">
							<div
								class="height-10-px border-radius-10-px margin-10-px"
							></div>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col>
							<ion-grid>
								<ion-row>
									<ion-col
										><div
											class="height-10-px border-radius-10-px margin-10-px"
										></div>
									</ion-col>
								</ion-row>
								<ion-row>
									<ion-col
										><div
											class="height-10-px border-radius-10-px margin-10-px"
										></div>
									</ion-col>
								</ion-row>
							</ion-grid>
						</ion-col>
						<ion-col class="fixed-size">
							<div
								class="height-30-px width-30-px border-radius-30-px margin-10-px"
							></div>
						</ion-col>
					</ion-row>
				</ion-grid>
			</ion-col>
		</ion-row>
	</ion-grid>
</ng-container>
<!-- generalContent -->
