/**
 * © Rolling Array https://rollingarray.co.in/
 *
 *
 * @summary Content loading component template style
 * @author code@rollingarray.co.in
 *
 * Created at     : 2022-09-07 11:51:57 
 * Last modified  : 2022-09-07 19:51:09
 */

@keyframes placeHolderShimmer {
	0% {
		background-position: -468px 0;
	}
	100% {
		background-position: 468px 0;
	}
}
div {
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-name: placeHolderShimmer;
	animation-timing-function: linear;
	background: #f6f7f8;
	background: linear-gradient(to right, rgb(178, 178, 251) 8%, rgb(125, 178, 251) 18%, rgb(178, 178, 251) 33%);
	background-size: 1000px 104px;
}

.fixed-size {
	flex: 0 0 4px;
	padding: 0;
	margin-right: 10px;
}
