<!--
/**
 * © Rolling Array https://rollingarray.co.in/
 *
 *
 * @summary Assignment properties component template
 * @author code@rollingarray.co.in
 *
 * Created at     : 2022-07-27 18:49:32 
 * Last modified  : 2022-09-22 16:40:28
 */
-->

<ion-grid>
	<ion-row>
		<!-- article deration -->
		<ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
			<ion-card color="light">
				<ion-grid>
					<ion-row>
						<ion-col
							><ion-card-header>
								<panel-header
									[panelTitle]="
										'pageTitle.duration' | translate
									"
									[panelIcon]="stringKey.ICON_TIME"
									[panelColor]="stringKey.COLOR_LIGHT"
								></panel-header>
								<panel-info
									[showMoreLess]="true"
									[panelColor]="stringKey.COLOR_LIGHT"
									[title]="
										'formInfo.articleDuration' | translate
									"
								></panel-info>
							</ion-card-header>
							<ion-card-content class="text-center">
								<h1>
									<b>
										{{ articleCompletionTime }}&nbsp;
										{{ "formInfo.minute" | translate }}
									</b>
								</h1>
							</ion-card-content>
						</ion-col>
					</ion-row>
				</ion-grid>
			</ion-card>
		</ion-col>
		<!-- article deration -->

		<!-- article reward -->
		<ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
			<ion-card color="light">
				<ion-grid>
					<ion-row>
						<ion-col
							><ion-card-header>
								<panel-header
									[panelTitle]="
										'pageTitle.reward' | translate
									"
									[panelIcon]="stringKey.ICON_REWARD"
									[panelColor]="stringKey.COLOR_LIGHT"
								></panel-header>
								<panel-info
									[showMoreLess]="true"
									[panelColor]="stringKey.COLOR_LIGHT"
									[title]="
										'formInfo.articleReward' | translate
									"
								></panel-info>
							</ion-card-header>
							<ion-card-content
								class="text-center"
								*ngIf="articleCompletionReward != '0'"
							>
								<h1>
									<b>
										{{ articleCompletionReward }}&nbsp;
										{{ "formInfo.point" | translate }}
									</b>
								</h1>
							</ion-card-content>
							<ion-card-content
								class="text-center"
								*ngIf="articleCompletionReward == '0'"
							>
								<h1>
									<b>
										{{
											"errorMessage.noReward" | translate
										}}
									</b>
								</h1>
							</ion-card-content>
						</ion-col>
					</ion-row>
				</ion-grid>
			</ion-card>
		</ion-col>
		<!-- article reward -->
	</ion-row>
</ion-grid>
