/**
 * © Rolling Array https://rollingarray.co.in/
 *
 *
 * @summary Crud revision flash card component template style
 * @author code@rollingarray.co.in
 *
 * Created at     : 2022-09-01 18:19:03 
 * Last modified  : 2022-09-01 18:19:58
 */

.custom-field{
    padding: 10px;
}

.editable-content{
    margin: 20px;
}

ion-segment-button{
    padding: 10px;
}

image-holder{
    margin: 10px;
}

audio{
    margin: 16px;
    width: calc(100% - 32px);
}