/**
 * © Rolling Array https://rollingarray.co.in/
 *
 * @summary Avatar component template
 * @author code@rollingarray.co.in
 *
 * Created at     : 2022-09-20 11:18:54 
 * Last modified  : 2022-09-20 11:21:43
 */

ion-avatar {
	background: var(--ion-color-primary-gradient);
	color: #fff;
	text-shadow: 0 1px 2px #000;
	margin: 10px 10px 10px 0;
	text-align: center;
}
.avatar-large {
	width: 144px;
	height: 144px;
	line-height: 144px;
	font-size: 75px;
}

.avatar-normal {
	width: 64px;
	height: 64px;
	line-height: 64px;
	font-size: 25px;
}
